extends layout

block content
  .w3-card-4.w3-margin
    header(class="w3-container w3-teal")
      h1 #{data.codigo}: #{data.titulo}
    
    .w3-center.w3-text-teal.w3-padding
      span.w3-margin Nível: #{data.nivel} 
      span.w3-margin Status: #{data.status} 
    
    hr(style="margin: 0")
    
    .w3-container
      p= data.descricao 
    
    if data.filhos.length > 0
      .w3-text-teal.w3-margin-left
        h2 Lista de descendentes:
      .w3-container
        ul
          each d in data.filhos
            li 
              a(href='/classe/' + d.codigo)= d.codigo
              span : #{d.titulo}
    
    if data.nivel == 0 and data.termosInd.length > 0
      .w3-text-teal.w3-margin-left
        h2 Lista de Termo de Índice:
      .w3-container
        ul
          each t in data.termosInd
              li   
                a(href='/tdi/' + data.termosInd.termos)= data.termosInd.termos
    
    footer(class="w3-container w3-teal w3-padding")
      .w3-container
          a(href='/') Voltar à página inicial
